* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(240, 230, 140, 0.808);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-style: oblique;
    color: goldenrod;
    font-size: 1.5rem;
}
div {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 500px;
}
@media screen and (min-width: 650px) {
    body {
        background-color: rgba(240, 230, 140, 0.781);
    }
    h1 {
        font-size: 2rem;
    }
    div {
        margin: 1rem auto;
        padding: 1rem;
        background-color: khaki;
        box-shadow: 2px 3px 4px 5px rgba(255, 255, 255, 0.346);
    }
}
form {
    margin: auto 1.5rem;
}
h2 {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 2rem;
}
@media screen and (min-width: 650px){
    form {
        margin: auto 2rem;
    }
}
input {
    display: block;
    margin-top: 1rem;
    width: 100%;
    max-width: 400px;
    padding: .8rem;
}
button {
    padding: .5rem;
    font-size: 1rem;
    background-color: rgb(16, 195, 16);
    margin-bottom: .5rem;
    border: 1px solid;
}
button:hover,
button:active {
    background-color: green;
}